name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Decode Keystore
      env:
        ENCODED_STRING: ${{ secrets.KEYSTORE }}
      run: |
        if [ -n "$ENCODED_STRING" ]; then
          echo "$ENCODED_STRING" | base64 --decode > keystore.jks
        fi

    - name: Decode Keystore Properties
      env:
        ENCODED_STRING: ${{ secrets.KEY_PROPERTIES }}
      run: |
        if [ -n "$ENCODED_STRING" ]; then
          echo "$ENCODED_STRING" | base64 --decode > keystore.properties
        fi

    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/*.apk
