name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Decode Keystore
      if: ${{ secrets.KEYSTORE != '' }}
      env:
        ENCODED_STRING: ${{ secrets.KEYSTORE }}
      run: |
        echo $ENCODED_STRING | base64 --decode > keystore.jks

    - name: Decode Keystore Properties
      if: ${{ secrets.KEY_PROPERTIES != '' }}
      env:
        ENCODED_STRING: ${{ secrets.KEY_PROPERTIES }}
      run: |
        echo $ENCODED_STRING | base64 --decode > keystore.properties

    - name: Build with Gradle
      run: ./gradlew assembleDebug assembleRelease

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: |
          app/build/outputs/apk/debug/*.apk
          app/build/outputs/apk/release/*.apk
